
/* blend mode multiply */
.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;
  height: 100vh;
  background-image: url("images/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #14213dc7;
  background-blend-mode: multiply;
}

.drum{
  width: 400px;
  height: 400px;
  margin: 0 20px;
}